In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pysparka

Hit:1 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,306 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,336 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,527 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,905 kB]
Get:17 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [87.8 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,076 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,063 kB]
Get:21 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 13.6 MB in 3s (4,160 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
56 packages can be upgraded. Run 'apt list --upgradable' to see them.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement pysparka (from versions: none)
ERROR: No matching distribution found for pysparka

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
findspark.find()
import pyspark
from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

In [ ]:
spark = SparkSession \
       .builder \
       .appName("Iot") \
       .getOrCreate()

spark

Read the data into a Dataframe

In [ ]:

df = spark.read.json("/content/iot_devices.json")

In [ ]:
df.printSchema()

root
 |-- battery_level: long (nullable = true)
 |-- c02_level: long (nullable = true)
 |-- cca2: string (nullable = true)
 |-- cca3: string (nullable = true)
 |-- cn: string (nullable = true)
 |-- device_id: long (nullable = true)
 |-- device_name: string (nullable = true)
 |-- humidity: long (nullable = true)
 |-- ip: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- lcd: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- scale: string (nullable = true)
 |-- temp: long (nullable = true)
 |-- timestamp: long (nullable = true)

In [ ]:
df.show()

+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

Convert the Dataframe into a temporary view called iot

In [ ]:
df.createOrReplaceTempView("iot")

In [37]:
df1 = spark.sql("SELECT * FROM iot")
df1.show()

+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

Count how many devices are there from each country and display the output

In [41]:
spark.sql("SELECT cn, COUNT (device_name) AS no_of_device FROM iot GROUP BY cn ORDER BY cn").show(50)

+--------------------+------------+
|                  cn|no_of_device|
+--------------------+------------+
|                    |        1810|
|         Afghanistan|          19|
|             Albania|          32|
|             Algeria|          34|
|      American Samoa|           3|
|             Andorra|           4|
|              Angola|          28|
|            Anguilla|           7|
| Antigua and Barbuda|          60|
|           Argentina|         978|
|             Armenia|          34|
|               Aruba|           8|
|           Australia|        3119|
|             Austria|        1462|
|          Azerbaijan|          49|
|             Bahamas|          18|
|             Bahrain|          55|
|          Bangladesh|         153|
|            Barbados|          38|
|             Belarus|         123|
|             Belgium|         666|
|              Belize|          13|
|               Benin|           3|
|             Bermuda|          53|
|              Bhutan|           8|
|             Bolivia|         108|
|Bosnia and Herzeg...|         106|
|            Botswana|          12|
|              Brazil|        3224|
|British Indian Oc...|           2|
|British Virgin Is...|           6|
|              Brunei|          19|
|            Bulgaria|        1334|
|        Burkina Faso|          24|
|            Cambodia|          43|
|            Cameroon|          29|
|              Canada|        6041|
|      Cayman Islands|          26|
|               Chile|         371|
|               China|       14455|
|            Colombia|         423|
|               Congo|           8|
|        Cook Islands|           3|
|          Costa Rica|         116|
|             Croatia|         193|
|                Cuba|          15|
|             CuraÃ§ao|          36|
|              Cyprus|          93|
|      Czech Republic|        1507|
|             Denmark|        1190|
+--------------------+------------+
only showing top 50 rows

In [80]:
spark.sql("select cca3, count(distinct device_id) as device_id from iot group by cca3 order by device_id desc limit 100").show()

+----+---------+
|cca3|device_id|
+----+---------+
| USA|    70405|
| CHN|    14455|
| JPN|    12100|
| KOR|    11879|
| DEU|     7942|
| GBR|     6486|
| CAN|     6041|
| RUS|     5989|
| FRA|     5305|
| BRA|     3224|
| AUS|     3119|
| ITA|     2915|
| SWE|     2880|
| POL|     2744|
| NLD|     2488|
| ESP|     2310|
| TWN|     2128|
| IND|     1867|
| CZE|     1507|
| NOR|     1487|
+----+---------+
only showing top 20 rows

Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.

In [86]:
spark.sql("select cca3, c02_level from iot where c02_level > 1400 order by c02_level desc").show()

+----+---------+
|cca3|c02_level|
+----+---------+
| BGR|     1599|
| USA|     1599|
| EGY|     1599|
| TWN|     1599|
| DEU|     1599|
| DEU|     1599|
| CAN|     1599|
| JPN|     1599|
| DEU|     1599|
| BGR|     1599|
| ARG|     1599|
| GBR|     1599|
| USA|     1599|
| USA|     1599|
| USA|     1599|
| CHN|     1599|
| KOR|     1599|
| USA|     1599|
| NOR|     1599|
| POL|     1599|
+----+---------+
only showing top 20 rows

In [69]:
spark.sql("SELECT cn,c02_level FROM iot WHERE c02_level > 1400 ORDER BY c02_level DESC").show()

+-----------------+---------+
|               cn|c02_level|
+-----------------+---------+
|         Bulgaria|     1599|
|    United States|     1599|
|            Egypt|     1599|
|           Taiwan|     1599|
|          Germany|     1599|
|          Germany|     1599|
|           Canada|     1599|
|            Japan|     1599|
|          Germany|     1599|
|         Bulgaria|     1599|
|        Argentina|     1599|
|   United Kingdom|     1599|
|    United States|     1599|
|    United States|     1599|
|    United States|     1599|
|            China|     1599|
|Republic of Korea|     1599|
|    United States|     1599|
|           Norway|     1599|
|           Poland|     1599|
+-----------------+---------+
only showing top 20 rows

Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids (Hint: For high CO2 level, the LCD status will be RED).

In [82]:
spark.sql("select cca3, count(distinct device_id) as device_id from iot where lcd == 'red' group by cca3 order by device_id").show()

+----+---------+
|cca3|device_id|
+----+---------+
| TJK|        1|
| REU|        1|
| TKM|        1|
| GIB|        1|
| CIV|        1|
| LBR|        1|
| MHL|        1|
| SLB|        1|
| GAB|        1|
| TLS|        1|
| IOT|        1|
| GGY|        1|
| FSM|        1|
| AND|        1|
| FLK|        1|
| VUT|        2|
| ZMB|        2|
| LCA|        2|
| GMB|        2|
| VCT|        2|
+----+---------+
only showing top 20 rows

In [78]:
spark.sql("SELECT cn,device_name,c02_level,lcd FROM iot WHERE lcd == 'red' ").show()

+-----------------+--------------------+---------+---+
|               cn|         device_name|c02_level|lcd|
+-----------------+--------------------+---------+---+
|           Norway|   sensor-pad-2n2Pea|     1473|red|
|            Italy| device-mac-36TWSKiT|     1556|red|
|            Japan|sensor-pad-8xUD6p...|     1536|red|
|    United States|sensor-pad-10Bsyw...|     1470|red|
|            Italy|meter-gauge-11dlM...|     1544|red|
|    United States|sensor-pad-16aXmI...|     1425|red|
|    United States|meter-gauge-17zb8...|     1466|red|
|    United States|meter-gauge-19eg1...|     1531|red|
|            Japan|  sensor-pad-22oWV2D|     1522|red|
|           Canada|sensor-pad-24Pytz...|     1511|red|
|Republic of Korea|  device-mac-27P5wf2|     1597|red|
|Republic of Korea|sensor-pad-28Tsud...|     1502|red|
|          Ukraine|meter-gauge-47WsF9s8|     1454|red|
|           Sweden|meter-gauge-534fD...|     1446|red|
|    United States|sensor-pad-5410CW...|     1436|red|
|    United States|device-mac-57tRB0...|     1503|red|
|    United States|  sensor-pad-64djcIn|     1524|red|
|   Czech Republic|sensor-pad-663dzo...|     1482|red|
|            India|meter-gauge-77IKW...|     1454|red|
|Republic of Korea|sensor-pad-78PkeI...|     1493|red|
+-----------------+--------------------+---------+---+
only showing top 20 rows

find out all devices in countries whose batteries need replacements.

In [84]:
spark.sql("select cca3, count(distinct device_id) as device_id from iot where battery_level == 0 group by cca3 order by device_id desc limit 100").show()

+----+---------+
|cca3|device_id|
+----+---------+
| USA|     7043|
| CHN|     1415|
| KOR|     1217|
| JPN|     1210|
| DEU|      760|
| GBR|      650|
| CAN|      612|
| RUS|      600|
| FRA|      582|
| BRA|      374|
| AUS|      322|
| SWE|      293|
| ITA|      287|
| POL|      278|
| NLD|      251|
| ESP|      223|
| TWN|      207|
| IND|      189|
| UKR|      149|
| HKG|      149|
+----+---------+
only showing top 20 rows

In [71]:
spark.sql("SELECT cn,device_name,battery_level FROM iot WHERE battery_level == 0").show()

+-----------------+--------------------+-------------+
|               cn|         device_name|battery_level|
+-----------------+--------------------+-------------+
|            Japan|sensor-pad-8xUD6p...|            0|
|    United States|sensor-pad-12Y2kIm0o|            0|
|    United States|meter-gauge-17zb8...|            0|
|          Germany| sensor-pad-448DeWGL|            0|
|           Canada|sensor-pad-80TY4d...|            0|
|Republic of Korea| sensor-pad-92vxuq7e|            0|
|    United States|sensor-pad-98mJQA...|            0|
|            Japan|meter-gauge-1075K...|            0|
|        Australia|device-mac-111WYt...|            0|
|    United States| sensor-pad-11663yUf|            0|
|            China|device-mac-117mcc...|            0|
|    United States|device-mac-123zvY...|            0|
|    United States|meter-gauge-131Lb...|            0|
|    United States|sensor-pad-1344UG...|            0|
|          Germany|sensor-pad-140tq1s6t|            0|
|            China|meter-gauge-151Gj...|            0|
|            China|sensor-pad-156nfj...|            0|
|    United States|meter-gauge-167c4...|            0|
|    United States|meter-gauge-1794X...|            0|
|     South Africa|sensor-pad-180lj1...|            0|
+-----------------+--------------------+-------------+
only showing top 20 rows